<svg class="draggable-container" id="flow-container"
     xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient spreadMethod="pad"
                        y2="0"
                        x2="0"
                        y1="1"
                        x1="0"
                        id="nodeBackgroundGradient">
            <stop offset="0"
                  stop-opacity="0.99609"
                  stop-color="#56aaff" />
            <stop offset="0.63934"
                  stop-opacity="0.99219"
                  stop-color="#d0d0e5" />
        </linearGradient>
    </defs>
    <g ng-repeat="node in chart.nodes"
       ng-attr-transform="translate({{node.x()}}, {{node.y()}})">
        <rect class="node-custom-rect"
              ng-class="{'node-published-carousel': node.data.isPublished, 'node-draft-carousel': node.data.isDraft, }"
              ng-attr-width="{{node.width()}}"
              ng-attr-height="{{node.height()}}"
              ng-show="!node.data.invisible"
              ry="0"
              rx="0"
              x="0"
              y="0"
              fill="white">

        </rect>

        <text x="0"
              ng-attr-width="{{node.width()}}"
              ng-show="!node.data.invisible"
              ng-attr-y="{{node.nameLines().length > 1 ? 30 - node.nameLines().length * 5 : 25}}"
              dy="0"
              text-anchor="middle"
              alignment-baseline="middle">
            <tspan dy="10" ng-attr-x="{{node.width()/2}}"
                   ng-repeat="line in node.nameLines() track by $index">
                {{line}}
            </tspan>
        </text>

        <text ng-attr-x="{{node.width()/2}}"
              ng-show="node.data.isPublished"
              y="100"
              text-anchor="middle"
              alignment-baseline="middle"
              class="node-published-carousel-legend">
            {{chart.publishedLegendText}}
        </text>

        <text ng-attr-x="{{node.width()/2}}"
              ng-show="node.data.isDraft"
              y="100"
              text-anchor="middle"
              alignment-baseline="middle"
              class="node-draft-carousel-legend">
            {{chart.draftLegendText}}
        </text>
    </g>
    <g>
        <g ng-repeat="connection in chart.connections"
           class="connection">
            <path class="dashed-line"
                  ng-attr-d="M {{connection.sourceCoordX()}}, {{connection.sourceCoordY()}}
                     C {{connection.sourceTangentX()}}, {{connection.sourceTangentY()}}
                       {{connection.destTangentX()}}, {{connection.destTangentY()}}
                       {{connection.destCoordX()}}, {{connection.destCoordY()}}">
            </path>
            <rect class="node-custom-rect edge"
                  width="27"
                  height="27"
                  ng-attr-x="{{connection.middleX(0.25)}}"
                  ng-attr-y="{{connection.middleY(0.25) - 13}}"
                  ng-show="!connection.data.disabled"
                  ng-mousedown="connectionMouseDown($event, connection)"
                  ng-class="{'edge-with-carousel': connection.data.hasCarousel}">
            </rect>
            <text class="glyphicon"
                  fill="white"
                  ng-show="!connection.data.disabled && connection.data.hasCarousel"
                  ng-mousedown="connectionMouseDown($event, connection)"
                  ng-attr-x="{{connection.middleX(0.25) + 5}}"
                  ng-attr-y="{{connection.middleY(0.25) + 5}}">
                &#xe013;
            </text>
            <rect class="node-custom-rect"
                  width="27"
                  height="27"
                  rx="100"
                  ry="100"
                  ng-show="connection.data.carouselsCount > 0"
                  ng-attr-x="{{connection.middleX(0.25) + 1}}"
                  ng-attr-y="{{connection.middleY(0.25) - 43}}"
                  ng-attr-fill="{{connection.data.carouselsCount > 0 ? '#6EC240' : 'white'}}"
                  ng-mousedown="connection.showPopup = true;connectionMouseDown($event, connection)">
            </rect>
            <text text-anchor="middle"
                  alignment-baseline="middle"
                  fill="white"
                  ng-show="connection.data.carouselsCount > 0"
                  ng-attr-x="{{connection.middleX(0.25) + 14}}"
                  ng-attr-y="{{connection.middleY(0.25) - 28}}"
                  ng-mousedown="connection.showPopup = true;connectionMouseDown($event, connection)">
                {{connection.data.carouselsCount}}
            </text>
        </g>
    </g>

    <g ng-if="draggingConnection">
        <path class="dragging-connection dragging-connection-line"
              ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y}}
                 C {{dragTangent1.x}}, {{dragTangent1.y}}
                   {{dragTangent2.x}}, {{dragTangent2.y}}
                   {{dragPoint2.x}}, {{dragPoint2.y}}">
        </path>

        <circle class="dragging-connection dragging-connection-endpoint"
                r="4"
                ng-attr-cx="{{dragPoint1.x}}"
                ng-attr-cy="{{dragPoint1.y}}">
        </circle>

        <circle class="dragging-connection dragging-connection-endpoint"
                r="4"
                ng-attr-cx="{{dragPoint2.x}}"
                ng-attr-cy="{{dragPoint2.y}}">
        </circle>
    </g>

</svg>